@using OzelDers.Web.Areas.Teachers.Models.Dtos;
@model StudentListDto
<div class="card profile-card mb-2">
    
    <img class="avatar" draggable="false" src="/images/@Model.ImageUrl"  />

    <div class="card-body text-center">
      <strong class="fullname d-block"> @Model.FirstName @Model.LastName </strong>

      <span class="experience d-block">@Model.Experience</span>
      <span class="location d-block"><i class="fa fa-map-marker me-2"></i>@Model.City - @Model.Location</span>

      <span class="price">
        <span class="price-label"><i class="fa fa-tag me-2" ></i> Ders fiyatı:</span>
        <span class="price-value">@($"{Model.Price:C2}")</span>
      </span>
    </div>

    <div class="card-footer bg-light d-flex justify-content-around">
        <a class="btn btn-primary btn-sm w-100"
          asp-area="Teachers"
          asp-controller="Home"
          asp-action="StudentsDetails"
          asp-route-studentid=@Model.Id><i class="fa fa-info me-1"></i> Detay</a>
    </div>
</div>
